<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/theme.css">
	<link rel="stylesheet" href="/css/flipclock.css">
</head>
<body>

{% include navigation.html %}

<div class="container">
	<div class="row">
		<h2 style="margin-left:200px;">Time til Graduation:</h2>
		<br/>
		<div id="clock" style="margin:2em"></div>
	</div>	
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/flipclock.min.js"></script>
<script> 
	var now = new Date();
	var gradDate = new Date("December 13, 2014 9:00:00");
	var diff = gradDate.getTime()/1000 - now.getTime()/1000;

	var clock = $("#clock").FlipClock(diff, {
		clockFace: 'DailyCounter',
		countdown: true
	});
</script>

{% include footer.html %}