{% include header.html %}
{% include navigation.html %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
		<h1>{{ title }}</h1>
		{{ content }}
		</div>
		<div class="col-md-4">
			<div class="row">
				<h1>Recent Posts</h1>
				<ul>
				  {% for post in site.posts limit: 10 %}
				    <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date_to_long_string }}</li>
				  {% endfor %}
				</ul>
			</div>
			<div class="row">
			</div>
		</div>
	</div>
</div>

{% include js.html %}
{% include footer.html %}