{% include header.html %}
{% include navigation.html %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			{{ content }}
		</div>
		<div class="col-md-4">
			<div class="row">
				<h1>recent posts</h1>
				<ul>
				  {% for post in site.posts limit: 10 %}
				    <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date_to_long_string }}</li>
				  {% endfor %}
				</ul>
			</div>
			<div class="row">
				<h1>stuff i read</h1>
				<ul>
					<li><a href="http://morgansamson.com">morgan samson</a></li>
					<li><a href="http://clevrcat.com">clevrcat</a></li>
					<li><a href="http://jasdev.me">jasdev</a></li>
					<li><a href="https://www.brainpickings.org">brain pickings</a></li>
					<li><a href="http://xkcd.com">xkcd</a></li>
					<li><a href="http://questionablecontent.net">qc</a></li>
					<li><a href="https://www.objc.io/issues/">objc.io</a></li>
					<li><a href="https://iosdevweekly.com">ios dev weekly</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% include js.html %}
{% include footer.html %}